ul .hl a{
    background: #0963FA !important;
    background-image: linear-gradient(to right, #0963FA 0%, #01BDFC 51%, #01BDFC 100%) !important;
    background-size: 200% !important;
    transition: .5s ease-out!important;
    box-shadow: 4px 4px 12px #00c4ff4a !important;
    padding: 6px 23px !important;
    text-transform: uppercase !important;
    border-radius: 3px !important;
    text-align: center !important;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.startup-box{
    background: #FAFBFF 0% 0% no-repeat padding-box;
    box-shadow: -8px -8px 15px #ffffff, -8px -8px 15px #ffffff, 15px 8px 20px #c1c8e329, 15px 8px 20px #c1c8e329;
    border: 1px solid #CBC3E91A;
    border-radius: 20px;
    opacity: 1;
    width: 235px;
    text-align: center;
    padding: 15px;
    margin: auto;
}

.startup-box span{
    text-align: center;
    font-family: poppins-sb;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0px;
    color: #0680FA;
    text-transform: uppercase;
    opacity: 1;
}

.startup-ul{
    margin-top: 20px;
    list-style: none;
    text-align: center;
    font-family: poppins-sb;
    font-size: 18px;
    letter-spacing: 0px;
    color: #626262;
    text-transform: none;
    opacity: 1;
    padding-left: 0px;
}

.startup-ul li{
    list-style: none;
    font-family: poppins-sb;
    font-size: 18px;
    letter-spacing: 0px;
    color: #626262;
    text-transform: none;
}

.startup-ul li::before{
    content: "\2022";
    color: #0680FA;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.case h2 {
    text-align: center;
    font-family: poppins-ex;
    font-size: 35px;
    margin-top: 0px;
    color: #212529 !important;
}

.caseleft{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.caseleft li a{
    text-decoration: none;
    font-family: poppins-m;
    font-size: 18px;
}

.greeAz h4{
    font-family: poppins-b;
    font-weight: normal;
    line-height: 42px;
    font-size: 28px;
    text-transform: none;
}

.greeAz p{
    text-align: left;
    font-family: poppins;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    margin: 16px 0px;
    color: #626262;
    opacity: 1;
}
 
.greeAz p a.explore-more {
    display: inline-block;
    border-radius: 30px;
    padding: 10px 24px;
    text-align: center;
    color: white;
    border: none;
    background: #0963FA;
    background-image: linear-gradient(to right, #0963FA 0%, #01BDFC 51%, #01BDFC 100%);
    background-size: 200%;
    transition: .5s ease-out;
    box-shadow: 6px 6px 12px #00c4ff4a;
}

.fa-long-arrow-right:before {
    content: "\f178";
    font-size: 30px;
    margin-left: 8px;
    vertical-align: middle;
}

.footer h4 {
    font-family: poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: none;
}

.footer ul{
    list-style-type: none;
    padding-left: 0px;
}

.footer ul li{
    line-height: 50px;
}

.footer ul li a{
    font-family: poppins;
    font-size: 14px;
    letter-spacing: 0px;
    color: #bfbfbf;
    text-decoration: none;
    text-transform: none;
}

.footer ul li a .social-round {
    border: 1px solid #1B2327;
    border-radius: 50%;
    padding: 5px;
}

.footer ul li a .social-round .social {
    background: #fff;
    font-size: 20px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
}

.footer ul li a .social-round .social .fa-skype{
    color: #00aff0;
}
.footer ul li a .social-round .social .fa-linkedin{
    color: #00aff0;
}
.footer ul li a .social-round .social .fa-envelope{
    color: #00aff0;
}
.footer ul li a .social-round .social .fa-facebook{
    color: #3B5998;
}
.footer ul li a .social-round .social .fa-twitter{
    color: #55ACEE;
}
.footer ul li a .social-round .social .fa-youtube{
    color: #ff0000;
}
.footer ul li a .social-round .social .fa-glassdoor{
    content: url(https://api.iconify.design/simple-icons:glassdoor.svg?color=%2351AB42&height=20);
}

hr.footer-top{
    border-top: 1px solid #585858 !important;
}

.copy-right{
    font-family: poppins;
    font-size: 14px;
    letter-spacing: 0px;
    color: #bfbfbf;
    text-decoration: none;
    line-height: 27px;
    margin-top: 13px;
    text-transform: none;
}

.experts-head{
    text-align: center;
    font-family: poppins-ex;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #212529;
    text-transform: none;
    opacity: 1;
    line-height: 30px;
}

.experts-text{
    text-align: center;
    font-family: poppins;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    color: #626262;
    opacity: 1;
    margin: 31px 0px;
}

.experts-box{
    background: #FAFBFF 0% 0% no-repeat padding-box;
    box-shadow: -8px -8px 15px #ffffff, -8px -8px 15px #ffffff, 15px 8px 20px #c1c8e329, 15px 8px 20px #c1c8e329;
    border: 1px solid #CBC3E91A;
    border-radius: 20px;
    opacity: 1;
    padding: 20px;
    min-height: 228px;
}

.experts-box h4 {
    text-align: center;
    font-family: poppins-sb;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0px;
    color: #212529;
    text-transform: none;
    opacity: 1;
    margin-bottom: 28px;
}

.experts-box img {
    float: left;
    background-image: linear-gradient(to right, #0963FA, #01BDFC);
    border-radius: 50px;
    text-align: center;
    margin: 3px auto;
    padding: 6px;
    margin-right: 14px;
}

.experts-box p {
    text-align: left;
    font-family: poppins;
    font-size: 16px;
    letter-spacing: 0px;
    color: #626262;
    text-transform: none;
    opacity: 1;
}

.services-box {
    background: #FAFBFF 0% 0% no-repeat padding-box;
    box-shadow: -8px -8px 15px #ffffff, -8px -8px 15px #ffffff, 15px 8px 20px #c1c8e329, 15px 8px 20px #c1c8e329;
    border: 1px solid #CBC3E91A;
    border-radius: 30px;
    opacity: 1;
    padding: 25px 25px 0px 25px;
    min-height: 410px;
}

.services-img {
    background-image: linear-gradient(to right, #0963FA, #01BDFC);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: auto;
    box-shadow: 6px 6px 12px #00c4ff4a;
    margin-bottom: 20px;
    padding: 15px;
}

.services-box h5 {
    text-align: center;
    font-family: poppins-b;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: #212529;
    text-decoration: none;
    opacity: 1;
}

.services-box p {
    text-align: center;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #626262;
    text-transform: none;
    opacity: 1;
}

.services-box ul {
    list-style: none;
    font-family: poppins;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: none;
    opacity: 1;
}

.services-box ul li {
    list-style-image: url(images/dot2.png);
    line-height: 30px;
    text-decoration: none;
    color: #626262;
    font-family: poppins-m;
}

.industries-head {
    text-align: center;
    font-family: poppins-b;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #212529;
    text-transform: none;
    opacity: 1;
    line-height: 30px;
    margin-bottom: 20px;
}

.industries-text {
    text-align: center;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #626262;
    text-transform: none;
    opacity: 1;
}

.startup-box {
    background: #FAFBFF 0% 0% no-repeat padding-box;
    box-shadow: -8px -8px 15px #ffffff, -8px -8px 15px #ffffff, 15px 8px 20px #c1c8e329, 15px 8px 20px #c1c8e329;
    border: 1px solid #CBC3E91A;
    border-radius: 20px;
    opacity: 1;
    width: 235px;
    text-align: center;
    padding: 15px;
    margin: auto;
}

.startup-box img {
    opacity: 1;
    margin-right: 10px;
}

.startup-box span {
    text-align: center;
    font-family: poppins-sb;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0px;
    color: #0680FA;
    text-transform: uppercase;
    opacity: 1;
}

.technology {
    padding-top: 60px;
    background: #1B2327 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 60px;
}

.technology hr{
    border-top: 1px solid #D1D1D1;
}

.technology-head{
    text-align: center;
    font-family: poppins-b;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: none;
    opacity: 1;
    line-height: 30px;
    margin-bottom: 20px;
}

.technology-text {
    text-align: center;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #D1D1D1;
    text-transform: none;
    opacity: 1;
}

.technology-content-head-white {
    text-align: left;
    font-family: poppins-b;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: none;
    opacity: 1;
}

.technology-content-text {
    text-align: left;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #D1D1D1;
    text-transform: none;
    opacity: 1;
    line-height: 28px;
}

.technology-content-head-blue {
    text-align: left;
    font-family: poppins-b;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0px;
    color: #0680FA;
    text-transform: none;
    opacity: 1;
}

.technology-content-text {
    text-align: left;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #D1D1D1;
    text-transform: none;
    opacity: 1;
    line-height: 28px;
}

.tech p{
    text-align: left;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: none;
    opacity: 1;
}

.technology-logo {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.tech-rectangle {
    background: #1B2327 0% 0% no-repeat padding-box;
    box-shadow: -8px -8px 15px #01141d;
    border: 1px solid #CBC3E91A;
    border-radius: 10px;
    opacity: 1;
    padding: 20px;
}

.tech-rectangle img {
    width: 30px;
    height: 30px;
}

.contact-us h2 {
    text-align: center;
    font-family: poppins-ex;
    font-size: 35px;
    margin-top: 0px;
    color: #212529 !important;
}

.bx-img {
    background-image: url(images/dott.png);
    background-repeat: no-repeat;
    background-size: 58%;
    background-position: center;
}

.qus1 {
    background-color: #FAFBFF;
    border: none;
    padding: 41px 20px 30px 28px;
    border-radius: 18px;
    box-shadow: -8px -8px 15px #ffffff, -8px -8px 15px #ffffff, 15px 8px 20px #c1c8e329, 15px 8px 20px #c1c8e329;
}

.carousel-indicators{
    position: absolute;
    bottom: 0;
    width: 15%;
    margin: 0;
    left: 215px;
    right: 0;
    display: flex;
}

.carousel-indicators .left span {
    background-image: linear-gradient(to right, #0963FA, #01BDFC);
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    padding: 7px 12px;
    font-size: 16px;
}

.carousel-indicators .right span {
    background-image: linear-gradient(to right, #0963FA, #01BDFC);
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    padding: 7px 12px;
    font-size: 16px;
}

.qus1 p{
    font-family: poppins;
    font-size: 16px;
    color: #3A3F50;
    background-image: url(images/dc.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16%;
    background-position-y: top;
}

.choose-head {
    text-align: center;
    font-family: poppins-b;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #212529;
    text-transform: none;
    opacity: 1;
    line-height: 30px;
    margin-bottom: 50px;
}

.choose-box {
    background: #FAFBFF 0% 0% no-repeat padding-box;
    box-shadow: -8px -8px 15px #ffffff, -8px -8px 15px #ffffff, 15px 8px 20px #c1c8e329, 15px 8px 20px #c1c8e329;
    border: 1px solid #CBC3E91A;
    border-radius: 20px;
    opacity: 1;
    padding: 15px;
    min-height: 333px;
}

.choose-img {
    background-image: linear-gradient(to right, #0963FA, #01BDFC);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: auto;
    box-shadow: 6px 6px 12px #00c4ff4a;
    margin-bottom: 20px;
}

.choose-box img {
    width: 80px;
    padding: 10px;
}

.choose-box h5 {
    text-align: center;
    font-family: poppins-b;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    color: #212529;
    text-transform: none;
    opacity: 1;
}

.choose-box p {
    text-align: center;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #626262;
    text-transform: none;
    opacity: 1;
}

.company-head {
    text-align: center;
    font-family: poppins-b;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #212529;
    text-transform: none;
    opacity: 1;
    line-height: 30px;
    margin-bottom: 20px;
}

.company-text {
    text-align: center;
    font-family: poppins;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #626262;
    text-transform: none;
    opacity: 1;
}

.lastone{
    border-radius: 30px;
    padding: 11px 48px;
    color: white;
    border: none;
    background: #0963FA;
    background-image: linear-gradient(to right, #0963FA 0%, #01BDFC 51%, #01BDFC 100%);
    background-size: 200%;
    transition: .5s ease-out;
    box-shadow: 6px 6px 12px #00c4ff4a;
    font-family: poppins;
    font-size: 16px;
}

input{
    border: none;
    outline: none;
    background: #fff;
}